*{
  font-family: 'Dancing Script';
}
body{
  background-color: #02010a;
  text-align: center;
}
#contenido{
  width: 900px;
  display: inline-block;
}
header{
  display: block;
  width: 100%;
  height: 100px;
  background-color: #5b7989;
  border-radius: 20px 20px 0 0;
  text-align: left;
}
h1{
  text-shadow: 2px 2px 2px #02010a;
  display: inline;
  position: relative;
  left: 5%;
  top: 30px;
  color: white;
}
.divfoto{
  text-align: center;
}
nav{
  display: inline;
  position: relative;
  float: right;
  top: 40px;
  right: 5%;
}
img{
    box-shadow: 2px 2px #02010a;
}
.menu{
  text-shadow: 2px 2px 2px #02010a;
  display: inline-block;
  font-size: 1.2em;
  margin-left: 10px;
}
.foto{
  background-color: #82c3a6;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.fotos{
  background-color: #d5c75f;
  display: flex;
  width: 100%;
}
a{
  color: white;
}
a[href="#"]{
  text-decoration: none;
}
#figure1{
  transition: transform 1.5s;
}
#figure1:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
}
#figure2{
  transition: transform 1.5s;
}
#figure2:hover{
  transform: translate(20px,-5px);
  box-shadow: 2px 2px #82c3a6;
}
